name: Release-Please

on:
  push:
    branches:
      - master

permissions:
  id-token: write
  contents: read

jobs:
  release-please:
    runs-on: ubuntu-latest
    environment:
      name: prod
    outputs:
      releases_created: ${{ steps.release.outputs.release_created }}
      release_version: ${{ steps.release.outputs.version }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Run Release Please
        id: release
        uses: googleapis/release-please-action@v4
        with:
          token: ${{ secrets.LI_GITHUB_ACTION_TOKEN }}

  publish-release:
    needs: release-please
    runs-on: ubuntu-latest
    environment:
      name: prod
    permissions:
      id-token: write
      contents: read

    if: ${{ needs.release-please.outputs.releases_created }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: (Prod) Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
          aws-region: ap-southeast-2

      - name: (Prod) Deploy QGIS Projects to S3
        run: |
          VERSION=${{ needs.release-please.outputs.release_version }}; 
          ./scripts/topographic-system.sh deploy --project "$PWD/map-series/" --tag "$VERSION" --target s3://linz-topography/qgis/ --commit
